mysticeti/v*.log.ansi
mysticeti/dryrun-validator*
mysticeti/scripts/*.log
mysticeti/scripts/*.txt
mysticeti/scripts/*.pdf
mysticeti/target/*
pevm/target/*
pevm/crates/pevm/target/*
mysticeti/logs/*

**.ansi
**-validator*