mysticeti/v*.log.ansi
mysticeti/dryrun-validator*
mysticeti/scripts/*.log
mysticeti/scripts/*.txt
mysticeti/scripts/*.pdf
mysticeti/scripts/results/*
mysticeti/results/*
mysticeti/target/*
pevm/target/*
pevm/crates/pevm/target/*
mysticeti/logs/*

**.ansi
**-validator*

/autobahn/

mysticeti/crates/orchestrator/assets/settings.yml
mysticeti/crates/orchestrator/assets/node-parameters.yml
